NET "a" LOC = P50 | IOSTANDARD = LVTTL;
NET "b" LOC = P40 | IOSTANDARD = LVTTL;
NET "cin" LOC = P34 | IOSTANDARD = LVTTL;
NET "s" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cout" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;